.navbar {
    background-color: #f0f0f0;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.3rem;
  }
  .logo-img {
    padding: auto;
    width: 90px;
    height: auto;
  }
  
  .nav-1 {
    display: flex;
    gap: 15px;
  }
  
  .nav-1 a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
  }
  
  .card-img-top {
    width: 350px;
    height: 300px;
    object-fit: relative;
    margin: auto;
  }